<!-- Con este extend hacemos que el contenido de este html vaya donde este definida la secuencia -->
<!-- block nombreEspecificado en el archivo referido (en este caso base.html) -->
{% extends "base.html" %}

<!-- Definimos el conteido de block title que es extendido de base.html -->
{% block title %} Sign Up {% endblock %}

<!-- Definimos el conteido de block content que es extendido de base.html -->
{% block content %}

    <!-- Podemos acceder a las variables que nos llegan de python con {{ variableName }} -->
    <h1>Welcome!</h1>

    <!-- Con este formulario trataremos de registrar usuarios nuevos -->
    <!-- Con url_for('signup') hacemos que el formulario apunte al endpoint/decorador -->
    <!-- de /signup que se encuentra en nuestra app.py -->
    <form method="post" action="{{ url_for('signup') }}">
        <!-- Importante definir el name de los inputs para poder referirlo posteriormente  -->
        <p>Usuario: <input type="text" name="username"></p>
        <p>Contraseña: <input type="password" name="password"></p>
        <input type="submit" value="Sign Up">
    </form>

{% endblock %}
